.login {
  background-color: #269dd850;
}
.Logo {
  width: 80%;
  margin: 20px;
}
.login_body {
  background-color: #f5f5f5;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgotPassword_btn {
  width: 80%;
  margin: auto;
  color: #777;
  padding: 15px 0px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
