.MR_container {
  margin-top: 20px;
}
.MR_report {
  margin: 5px auto;
  background-color: #269dd830;
  width: 85%;
  padding: 10px;
}
.MR_title {
  color: #000;
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
  padding-top: 20px;
}
.MR_textReport {
  color: #000;
  margin: 5px 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
}
.summery-report {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}
