.edit-profile-container {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: hsl(0, 0%, 96%);
  flex-grow: 1;
  min-height: 100%;
}
.edit-profile-form {
  background-color: #fff;
  border-radius: 25px;
  padding-bottom: 15px;
  margin: 15px;
  margin-top: 40px;
}
