#alert-dialog-title {
  color: #f6931e;
  padding: 0px;
  font-weight: bold;
  font-size: 17px;
  font-family: Vazirmatn, sans-serif;
  text-align: center;
  margin: 3px 9px;
}
#alert-dialog-description {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin: 9px;
  font-family: Vazirmatn, sans-serif;
}
#alert-dialog-actions {
  width: 90%;
}
.alert-icon {
  width: 60px;
  height: 60px;
  fill: #f6931e;
}
