.btn-container {
  width: 80%;
  border-radius: 5px;
  border-width: 0px;
  margin: 10px auto;
  height: 40px;
  cursor: pointer;
}
.btn-container-PRIMARY {
  background-color: #269dd8;
  box-shadow: 0px 2px 5px 0px #00000050;
}
.btn-container-SECONDARY {
  border-color: #269dd8;
  border-width: 1.2px;
  background-color: transparent;
}
.btn-container-DISABLE {
  background-color: #269dd860;
}
.btn-text {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  font-family: Vazirmatn, sans-serif;
}
.btn-text-color-PRIMARY {
  color: #fff;
}
.btn-text-color-SECONDARY {
  color: #269dd8;
}
.btn-text-color-DISABLE {
  color: #ffffff90;
}
.btn-loading {
  height: 29px;
  width: 50px;
  align-self: center;
}
