.container_change_lang_btn {
  display: flex;
  width: 130px;
  height: 40px;
  text-align: center;
  background-color: #269dd850;
  border-radius: 50px;
  margin: 20px 0px;
  position: relative;
  z-index: 1;
}
.language_section {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.image_country {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}
.text_change_lang_btn {
  color: #fff;
  font-weight: bold;
}
.select_lang {
  position: absolute;
  width: 65px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #269dd8;
  border-radius: 50px;
  z-index: -1;
}
