.bar-enter {
  width: 100%;
}

.bar-enter-active {
  width: 75%;
  transition: width 500ms;
}

/* .bar-leave {
  width: 100%;
}

.bar-leave-active {
  width: 75%;
  transition: width 300ms ease-in;
} */
