:root {
  --flag: inline-flex;
}
.input_container {
  width: 80%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}
.input-label {
  font-weight: bold;
  color: #777;
  margin-bottom: 10px;
}
.input {
  color: #000;
  border: none;
  display: block;
  caret-color: #f6921e;
}
.input_msgError {
  color: #990f02;
  margin: 0px;
}
.input_icon {
  color: #777;
  padding: 4px;
}
.MuiPhoneNumber-flagButton {
  display: var(--flag) !important; /* Hide the flag icon */
}
