.input_container {
  width: 80%;
  margin: 5px auto;
}
.input-label {
  font-weight: bold;
  color: #777;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  color: #000;
  border: none;
  display: block;
  caret-color: #f6921e;
}
.input_msgError {
  color: #990f02;
  margin: 0px;
}
.input_icon {
  color: #777;
  padding: 4px;
}
