.msg-container {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.5);
  margin: 8px 0px;
  padding: 5px 10px;
  align-items: center;
}
.msg-name {
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.msg-time {
  color: #1d1d1d;
  font-size: 16px;
}
.msg-project {
  border-radius: 50px;
  background: #d9d9d9;
  padding: 3px 20px 1px;
  color: #1d1d1d;
  font-size: 13px;
  font-weight: 700;
  width: fit-content;
  margin: 5px;
}
.msg-text {
  color: #1d1d1d;
  font-size: 15px;
  margin: 8px 0px;
}
.msg-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.msg-action-icon {
  cursor: pointer;
  fill: #f6931e;
  width: 30px;
  height: 30px;
  margin: 0px 2px;
  padding: auto;
}
.msg-action-text {
  font-size: 14px;
  font-weight: 500;
}
.msg-action-reject {
  fill: #da0001;
  color: #da0001;
  cursor: default;
}
.msg-action-accept {
  fill: #239f40;
  color: #239f40;
  cursor: default;
}
