.circleBase {
  width: 150px;
  height: 150px;
  border-radius: 1000px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  background-image: url(../assets/images/wave-fill.png);
  background-repeat: repeat-x;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
  position: relative;
  font-family: "VT323", monospace;
  background-color: #269dd830;
  cursor: pointer;
}
.task_time {
  font-size: 23px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.task_text {
  border-top: solid 1px;
  width: 120px;
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
