[class*="Snackbar_snackbar-wrapper"] {
  z-index: 9999 !important;
}
:root {
  --dir: ltr;
  --align: left;
}
html,
body,
#root,
.height {
  height: 100%;
}
body {
  font-family: Vazirmatn, sans-serif !important;
  background-color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  word-break: break-all;
}
.container_btn_row {
  justify-content: space-evenly;
  align-self: stretch;
  display: flex;
}
.display-flex-center {
  display: flex;
  align-items: center;
}
.display-flex-center-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-align {
  text-align: var(--align);
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.direction {
  direction: var(--dir);
}
#Vector {
  fill: inherit !important;
}
.Snackbar_snackbar__text__1Hx2a {
  direction: var(--dir);
  text-align: var(--align);
  font-family: Vazirmatn, sans-serif;
  word-break: normal;
}
.Snackbar_snackbar__GsYZl {
  direction: var(--dir);
}
.bold {
  font-weight: bold;
}
