:root {
  --dir: ltr;
  --align: left;
}
.App {
  text-align: center;
}
[class*="Snackbar_snackbar-wrapper"] {
  z-index: 9999 !important;
}
body {
  font-family: Vazirmatn, sans-serif;
  background-color: white;
}
.container_btn_row {
  justify-content: space-evenly;
  align-self: stretch;
  display: flex;
}
.text-center {
  text-align: center;
}
.display-flex-center {
  display: flex;
  align-items: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-align {
  text-align: var(--align);
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.direction {
  direction: var(--dir);
}
#Vector {
  fill: inherit !important;
}
.Snackbar_snackbar__text__1Hx2a {
  direction: var(--dir);
  text-align: var(--align);
  font-family: Vazirmatn, sans-serif;
}
.Snackbar_snackbar__GsYZl {
  direction: var(--dir);
}
