.App {
  text-align: center;
}
[class*="Snackbar_snackbar-wrapper"] {
  z-index: 9999 !important;
}
body {
  font-family: Vazirmatn, sans-serif;
  background-color: white;
}
.container_btn_row {
  justify-content: space-evenly;
  align-self: stretch;
  display: flex;
}
.text-center {
  text-align: center;
}
.display-flex-center {
  display: flex;
  align-items: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
#Vector {
  fill: inherit !important;
}
